<html>
    <head>
        <%- include('../views/head'); %> <!--Include head file-->
    </head>
<body class = "container">
    <header>
        <%- include('../views/header'); %> <!--Include header file-->
    </header>
    <main>
        <div style="padding: 20px; border-style: solid;">
        <form action = "/EmployeeSchedule/add" method = "POST" class = "Add">
        <label for = "DayofWeek" style="margin-left: 30%;"> Date: </label>
        <input type = "date" id = "DayofWeek" name = "DayofWeek">
        <br><br><br>
        <label for = "EmployeeFirstName" style="margin-left: 10%;"> Employee First Name: </label>
        <input type = "text" id = "EmployeeFirstName" name = "EmployeeFirstName">
        <label for = "EmployeeLastName" style="margin-left: 10%;"> Employee Last Name: </label>
        <input type = "text" id = "EmployeeLastName" name = "EmployeeLastName">
        <br><br><br>
        <label for = "ClockIn" style="margin-left: 10%;"> Clock In: </label>
        <input type = "time" id = "ClockIn" name = "ClockIn">
        <label for = "ClockOut" style="margin-left: 10%;"> Clock Out: </label>
        <input type = "time" id = "ClockOut" name = "ClockOut">
        <input type = "submit">
        </form>
        </div>
    </main>
</body>
</html>