<html>
    <head>
        <%- include('../views/head'); %> <!--Include head file-->
    </head>
<body class = "container">
    <header>
        <%- include('../views/header'); %> <!--Include header file-->
    </header>
    <main>
        <br><br>
        <div style="padding: 20px; border-style: solid; width: 500px; margin-left: auto; margin-right: auto;">
        <form action = "/ToolManufacturer/add" method = "POST" class = "Add">
        <br>
        <label for = "ManufacturerName"> Manufacturer Name: </label>
        <select id = "ManufacturerName" name = "ManufacturerName"> 
            <% Manufacturer.forEach(function(Manufacturers) { %>
            <option><%= Manufacturers.ManufacturerName %></option>
            <% }); %>
        </select>  
        <br><br>
        <label for = "ToolName"> Tool Name: </label>
        <select id = "ToolName" name = "ToolName"> 
            <% Tool.forEach(function(Tools) { %>
            <option><%= Tools.ToolName %></option>
            <% }); %>
        </select>  
        <br><br>
        <label for = "ToolManufacturerName""> Tool Manufacturer Name: </label>
        <input type = "text" id = "ToolManufacturerName" name = "ToolManufacturerName">
        <br><br>
        <input type = "submit">
        </form>
        </div>
    </main>
</body>
</html>