
<nav class="navbar navbar-expand-lg navbar-light" style= "background-color: #c6c8ff; font-size: 20px; font-family: 'Times New Roman', Times, serif; font-weight: bold;">
  <div class = "container-fluid">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/Main">Home</a>
      </li>
      <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" id="navbardrop" data-toggle="dropdown">Appointment</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="/Appointment">Appointment</a>
          <a class="dropdown-item" href="/AppointmentService">AppointmentService</a>
          <a class="dropdown-item" href="/Satisfaction">Satisfaction</a>
        </div>

      </li>
      <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" id="navbardrop" data-toggle="dropdown">Customer</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="/Customer">Customer</a>
          <a class="dropdown-item" href="/CustomerStatus">Customer Status</a>
        </div>
      </li>
      <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" id="navbardrop" data-toggle="dropdown">Employee</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="/Employee">Employee</a>
          <a class="dropdown-item" href="/EmployeeStatus">Employee Status</a>
          <a class="dropdown-item" href="/EmployeeSchedule">Employee Schedule</a>
          <a class="dropdown-item" href="/EmployeeTimeOff">Employee Time Off</a>
          <a class="dropdown-item" href="/EmployeeRank">Employee Rank</a>
          <a class="dropdown-item" href="/EmployeeRole">Employee Roles</a>
          <a class="dropdown-item" href="/AcquiredSkill">Acquired Skill</a>          
        </div>
      </li>
      <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" id="navbardrop" data-toggle="dropdown">Service </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="/Service">Service</a>
          <a class="dropdown-item" href="/ServiceInclusion">Service Inclusion</a>
          <a class="dropdown-item" href="/ServiceTool">Service Tool</a>
          <a class="dropdown-item" href="/HairServiceProduct">Hair Service Product</a>
          <a class="dropdown-item" href="/RequiredSkill">Required Skill</a>
        </div>
      </li>
      <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" id="navbardrop" data-toggle="dropdown">Product/Tool </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="/HairProduct">Hair Product</a>
          <a class="dropdown-item" href="/ProductType">Product Type</a>
          <a class="dropdown-item" href="/HairProductManufacturer">Hair Product Manufacturer</a>
          <a class="dropdown-item" href="/Tool">Tool</a>
          <a class="dropdown-item" href="/ToolManufacturer">Tool Manufacturer</a>
        </div>
      </li>
      <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" id="navbardrop" data-toggle="dropdown">Business</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="/BusinessHours">Business Hours</a>
          <a class="dropdown-item" href="/Manufacturer">Manufacturer</a>
        </div>
      </li>
      <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" id="navbardrop" data-toggle="dropdown">Misc</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="/Country">Country</a>
          <a class="dropdown-item" href="/State">State</a>
          <a class="dropdown-item" href="/Role">Role</a>
          <a class="dropdown-item" href="/Skill">Skill</a>
          <a class="dropdown-item" href="/Inclusion">Inclusion</a>
          <a class="dropdown-item" href="/SatisfactionMeaning">Satisfaction Meaning</a>
          
        </div>
      </li>
    </ul>
  </div>
  </nav>



  