<html>
    <head>
        <%- include('../views/head'); %> <!--Include head file-->
    </head>
<body class = "container">
    <header>
        <%- include('../views/header'); %> <!--Include header file-->
    </header>
    <main>
        <div style="padding: 20px; border-style: solid;">
        <form action = "/Inclusion/update/<%= locals.id %>" method = "POST" class = "Add">
        <% locals.Inclusion.forEach(function(Inclusions) { %> 
        <br><br><br>
        <label for = "InclusionName" style="margin-left: 10%;"> Inclusion Name: </label>
        <input type = "text" id = "InclusionName" name = "InclusionName" value = "<%= Inclusions.InclusionName %>">
        <br><br>
        <% }); %>
        <input type = "submit">
        </form>
        </div>
    </main>
</body>
</html>