<html>
    <head>
        <%- include('../views/head'); %> <!--Include head file-->
    </head>
<body class = "container">
    <header>
        <%- include('../views/header'); %> <!--Include header file-->
    </header>
    <main>
        <div style="padding: 20px; border-style: solid;">
        <form action = "/EmployeeStatus/update/<%= locals.id %>" method = "POST" class = "Add">
            <% EmployeeStatus.forEach(function(EmployeeStatuses) { %>
        <br><br><br>
        <label for = "StatusDescription" style="margin-left: 10%;"> Status Description: </label>
        <input type = "text" id = "StatusDescription" name = "StatusDescription" value = "<%=EmployeeStatuses.StatusDescription %>">
        <br><br>
            <% }); %>
        <input type = "submit">
        </form>
        </div>
    </main>
</body>
</html>